*{
   margin: :0; 
   padding:0;
   box_sizing:border-box;
   font-family:Arial,sans-serif;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color:yellow;
    
}
.container{
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgb(0,0, 0, 0.1)
}

h1{
    font-size: 24px;
    color: blue;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#counter{
    font-size: 48px;
    margin: 20px 0;
    color:#333;

}

.buttons button{
    font-size: 24px;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-color: aqua;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.8s;
}
.buttons button: hover{
    background-color:#45a049;
}